.btn {
  display: block;
  margin: auto;
  background-color: #a57548;
  border-color: #a57548;
  color: #dadad9;
}

.btn:hover {
  background-color: #684b2f;
  border-color: #684b2f;
  color: #dadad9;
}

.line {
  border: 3px solid #a57548;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 10%;
}

.hidden {
  display: none;
}

body {
  background-color: #47624f;
}

.container {
  background-color: #dadad9;
  padding: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  text-align: center;
}

#description {
  text-align: center;
}

.form-control {
  display: block;
  margin: auto;
  width: 60%;
  margin-bottom: 2em;
  text-align: center;
}

label {
  margin-bottom: 0.5em;
  display: block;
  text-align: center;
}

.under {
  margin: auto;
  text-align: center;
  margin-top: 2em;
}

#error {
  background-color: #750d37;
  color: #dadad9;
  width: fit-content;
  padding-left: 3em;
  padding-right: 3em;
}

img {
  width: 50%;
  max-width: 300px;
}
