.btn {
  display: block;
  margin: auto;
  background-color: #b5c2f9;
  border-color: #b5c2f9;
  color: black;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #8dd0fc;
  border-color: #8dd0fc;
  color: black;
}

.line {
  border: 3px solid #b5c2f9;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 10%;
}

.hidden {
  display: none;
}

body {
  background: linear-gradient(
    -45deg,
    #ddb4f6,
    #c9bbf8,
    #b5c2f9,
    #a1c9fb,
    #8dd0fc
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  background-color: #dadad9;
  padding: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  text-align: center;
}

#description {
  text-align: center;
}

.form-control {
  display: block;
  margin: auto;
  width: 60%;
  margin-bottom: 2em;
  text-align: center;
}

label {
  margin-bottom: 0.5em;
  display: block;
  text-align: center;
}

.under {
  margin: auto;
  text-align: center;
  margin-top: 2em;
}

#error {
  background-color: #ac151d;
  color: #dadad9;
  width: fit-content;
  padding-left: 3em;
  padding-right: 3em;
}

img {
  width: 50%;
  max-width: 300px;
}
